<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Summary Report</title>
    <style>
        h1 {
          text-align: center;
        }
        table {
            width: 70%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border: 1px solid #ddd;
        }
        th {
            background-color: yellow;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p>Dear User,</p>
    <p>Please find below the summary report:</p>

    <h1>Summary Report</h1>
    <table>
        <thead>
            <tr>
                <th>Cust State</th>
                <th>Cust Pin</th>
                <th>DPD</th>
            </tr>
        </thead>
        <tbody>
            {% for row in summary %}
            <tr>
                <td>{{ row.Cust_State }}</td>
                <td>{{ row.Cust_Pin }}</td>
                <td>{{ row.DPD }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Best regards,<br>Kumar Shivesh</p>
</body>
</html>
